*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Mooli', sans-serif;
    background-color: #fff;
}

#header{
    min-height: 60px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.nav-menu ul{
    float: left;
}

.nav-menu > li{
    display: inline-block;
}

.nav-menu li{
    position: relative;
    padding: 10px;
    min-height: 100%;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu img{
    height: 50px;
    width: 100%;
}

.nav-menu li a{
    list-style-type: none;
    text-decoration: none;
    color: #25272D;
    line-height: 60px;
    padding: 0 24px;
}

.nav-action ul{
    float: right;
}

.nav-action > li{
    display: inline-block;
}

.nav-action li{
    position: relative;
    padding: 10px;
    min-height: 100%;
}

.nav-action{
    display: flex;
    align-items: center;
}

.nav-action li a{
    list-style-type: none;
    text-decoration: none;
    color: #25272D;
    line-height: 60px;
    padding: 0 10px;
    display: inline-block;
}

.nav-action .nav-money{
    color: #5F4ECB;
}

.nav-action .nav-signin{
    color: #3364E4;
}

.nav-action .nav-signin:hover{
    color: #413494;
}

.nav-menu li a:hover{
    opacity: 0.8;
}

#content{
    background-color: #F2F5F7;
    margin-top: 80px;
    padding: 20px 0 0;
    width: 100%;
}

#content .content-newbook{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 5%;
}

.content-newbook .text-description p{
    margin: 20px 40px 20px 0;
}

.content-newbook .text-description .title-book{
    color: #5F4ECB;
    font-weight: 600;
}

.content-newbook .text-description .name-book{
    font-family: "Bell MT Semi Bold",sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.content-newbook .text-description .btn-newbook{
    display: flex;
    justify-content: left;
    margin: 20px 40px 20px 0;
}

.text-description .btn-newbook button{
    border-radius: 8px;
    padding: 10px;
    border: none;
}

.text-description .btn-newbook .btn-buy{
    margin: 0 40px 0 0;
    color: #fff;
    background-color: #5F4ECB;
    cursor: pointer;
}

.text-description .btn-newbook .btn-buy:hover{
    background-color: #413494;
}

.text-description .btn-newbook .btn-readSample{
    color: #5F4ECB;
    background-color: #fff;
    border: solid 1px #5F4ECB;
    cursor: pointer;
}

.text-description .btn-newbook .btn-readSample:hover{
    background-color: #E1DCFF;
}

.content-newbook .img-newbook{
    height: 500px;
}

#content .content-selling{
    margin: 200px 5%;
}

#content .content-selling-title p{
    text-align: center;
    padding: 20px 0;
}

#content .content-selling-title .selling-title{
    font-family: "Bell MT Semi Bold",sans-serif;
    font-size: 50px;
    font-weight: 600;
}

#content .content-selling-title .selling-description{
    padding-bottom: 50px;
}

#content .content-selling-book .book-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 50px;
    grid-column-gap: 1%;
}

.content-selling-book li{
    list-style-type: none;   
}

.content-selling-book .book-list img{
    height: 450px;
}

.content-selling-book a {
    text-decoration: none;
    color: #000;
}

.content-selling-book a p{
    margin-top: 10px;
}

.content-selling-book a p:nth-child(2){
    font-family: "Bell MT Semi Bold",sans-serif;
    font-weight: 600;
}

.content-selling-book .btn-showAllBooks{
    width: 100%;
    text-align: center;
}

.content-selling-book .btn-showAllBooks button{
    border-radius: 8px;
    padding: 10px;
    color: #5F4ECB;
    background-color: #fff;
    border: solid 1px #5F4ECB;
    cursor: pointer;
    margin: auto;
}

.content-selling-book .btn-showAllBooks button:hover{
    background-color: #E1DCFF;
}

#content .subscribe{
    background-color: #fff;
    width: 100%;
    min-height: 300px;
    text-align: center;
    padding: 100px 0;
}

#content .subscribe .text-subscribe{
    margin: 40px 0;
}

#content .subscribe .text-subscribe-title {
    font-family: "Bell MT Semi Bold", sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 50px;
}

#content .subscribe .subscribe-inputEmail{
    width: 100%;
    text-align: center;
}

#content .subscribe-inputEmail input{
    border-radius: 8px;
    padding: 10px;
    border: solid 1px #000;
    background-color: #fff;
    min-width: 25%;
    margin-right: 30px;
}

#content .subscribe-inputEmail .btn-subscribe{
    border-radius: 8px;
    padding: 10px;
    color: #5F4ECB;
    background-color: #fff;
    border: solid 1px #5F4ECB;
    cursor: pointer;
}

#content .subscribe-inputEmail .btn-subscribe:hover{
    background-color: #E1DCFF;
}


#footer{
    background-color: #000;
    color: #fff;
}

#footer .footer-info{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    padding: 20px 0;  
}

#footer .footer-social{
    max-width: 40%;
    line-height: 1.6;
}

#footer .footer-social img{
    width: 150px;
    height: 150px;
    transform: translateX(50%);
}

.footer-social .social-list{
    margin-top: 30px;
    font-size: 16px;
}

.footer-social .social-list a{
    color: #fff;
    width: 50px;
    height: 50px;
    padding-top: 20px;
    text-decoration: none;
    margin-right: 30px;
    text-align: center;
    font-size: 24px;
}

.footer-social .social-list a:hover{
    opacity: 0.8;
}

.footer-info .footer-contact{
    margin-top: 40px;
}

.footer-info .footer-contact p{
    line-height: 1.6;
}

.footer-info .footer-contact .contact-title{
    font-size: 40px;
    text-align: center;
}


